# C/C++
*.o
*.d
*.so

# Python
__init__.py
*.py[cod]

# ROOT
*.root

# Stuff
*~
*.log
*.swp
*.txt

# Images
*.png

# Remove crap in test dir
BLTAnalysis/test/batch
BLTAnalysis/test/ValidationTrees

# Fix data subdir
!BLTAnalysis/data/**
!BLTAnalysis/test/input/**
